.banner-bg {
    background: linear-gradient(120deg, 
                                #086a38 0%,   /* Dark Green */
                                #1e9d74 25%,  /* Medium Green */
                                #33c1a5 50%,  /* Light Green */
                                #1a7a8c 75%,  /* Medium Blue */
                                #005f66 100%  /* Dark Blue */
                                );
    background-size: 200% 200%;
    animation: gradient-animation 30s ease-in-out alternate infinite;
}
@media (max-width: 479px){
    h1 {
        font-size: 12vw;
        font-weight: 400;
    }
    .font-bold {
        font-weight: 400;
    }
}
