.banner-bg {
    background: linear-gradient(120deg, 
                                #086a38 0%,   /* Dark Green */
                                #1e9d74 25%,  /* Medium Green */
                                #33c1a5 50%,  /* Light Green */
                                #1a7a8c 75%,  /* Medium Blue */
                                #005f66 100%  /* Dark Blue */
                                );
    background-size: 200% 200%;
    animation: gradient-animation 30s ease-in-out alternate infinite;
}

/* Assuming .dark is the class applied when dark theme is active */

.dark .btn-primary:hover {
    background-color: #b3f3e3; /* greenish color from the logo */
    border-color: #c0e6f6; /* blueish color from the logo */
}

.dark .btn-primary:active {
    background-color: #c0e6f6; /* blueish color from the logo */
    border-color: #b3f3e3; /* greenish color from the logo */
}

